*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(images/bgimg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	justify-items: center;

}

#wrapper
{
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: grid;
	margin: 20px auto 0px auto;
	width: 60%;
	background-color: rgba(77, 77, 77, 0.685);
	padding: 0px 20px 50px;
}

.return 
{
	align-items: center;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	background-color: rgba(0, 0, 0, 0.521);
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px ;
	text-align: center;
	width: 100%;
	margin: -50px 0 0px 0 ;
}

.return a 
{
	text-decoration: none;
	padding: 10px;
	color: white;
}
 .return a.active
 {
	 background-color: black;
	 color: white;
	 border-bottom-left-radius: 25px ;
 }

 .return a.active:nth-child(2)
 {
	 background-color: black;
	 color: white;
	 border-bottom-right-radius: 0;
	border-bottom-left-radius: 0 ;
 }

 .return a.active:nth-child(3)
 {
	 background-color: black;
	 color: white;
	 border-bottom-right-radius: 25px;
	 border-bottom-left-radius: 0 ;
 }

.return a:hover:not(.active)
{
	background-color: rgba(255, 255, 255, 0.404);
	color:black;
	border-bottom-left-radius: 25px ;
}
.return a:nth-child(2):hover:not(.active)
{
	background-color: rgba(255, 255, 255, 0.404);
	color:black;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0 ;
}
.return a:nth-child(3):hover:not(.active)
{
	background-color: rgba(255, 255, 255, 0.404);
	color:black;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 0 ;
}

.header
{
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	text-align: center;
	grid-gap: 2em;
	color: white;
	margin-top: 10px;
}

	#photo img
	{
		width: 5em;
	}

	#user
	{
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5em;
		width: 80%;
		margin: auto;
		text-align: center;
		color: white;
	}

	.menu-content
	{
		margin: auto;
		max-height: 0;
		overflow: hidden;
		background-color: rgba(255, 254, 254, 0);
		color: white;

	}
	.dropdown-menu
	{
		background: #fff;
		padding: 20px;
		background-color: rgba(255, 254, 254, 0);
	}

	.dropdown-menu ul
	{
		list-style-type: none;
		padding: 0;
		background-color: rgba(255, 254, 254, 0.603);
	}

	.dropdown-menu a
	{
		display: block;
		padding: 10px;
		text-decoration: none;
		background-color: rgba(255, 254, 254, 0.603);
	}

	.dropdown-menu label
	{
		display: block;
		cursor: pointer;
		background-color: rgba(255, 254, 254, 0);
	}

	.dropdown-menu label i
	{
		font-size: 24px;
		background-color: rgba(255, 254, 254, 0);
	}

	input#menus
	{
		display: none;
	}
	
	.dropdown-menu input:checked ~ .menu-content
	{
		max-height: 100%;
		z-index: 1;
		position: absolute;
		border: 1px solid black;
		margin-left: 1em;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
	}

.content
{
	justify-content: center;
	align-items: center;
	display: grid;
	grid-gap: 1em;
	margin: auto;
	color: white;
}

	#account
	{
		text-align: center;
	}

	#registration
	{
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		text-align: right;
		grid-gap: 1em;
	}

	#registration div:nth-child(3n+3)
	{
		text-align: left;
	}

	#registration div input
	{
		background-color: rgba(255, 254, 254, 0.603);
		padding: 5px;
		border: none;
		border-radius: 5px;
		color: white;
	}

	#registration div select
	{
		background-color: rgba(255, 254, 254, 0.603);
		padding: 5px;
		border: none;
		border-radius: 5px;
		
	}
	#registration option
	{
		background-color: rgba(255, 254, 254, 0.603);
		padding: 5px;
		border: none;
		border-radius: 5px;
	}

	#registration div input[type="submit"]:hover
	{
		background-color: black;
		color: white;
	}

	#registration div input[type="reset"]:hover
	{
		background-color: black;
		color: white;
	}

		#separate
		{
			display: grid;
			grid-template-columns: 2fr 1fr 3fr;
			width: 60%;
			text-align: center;
		}

	#registration select
	{
		width: 100%;
	}

	#registration input
	{
		width: 100%;
	}

		#submit
		{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1em;
		}

	.login
	{
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: 1fr 2fr 2fr;
		text-align: right;
		grid-gap: 1em;
	}

	#button-holder
	{
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}

	.login div:nth-child(3n+3)
	{
		text-align: left;
	}

	.login div input
	{
		background-color: rgba(255, 254, 254, 0.603);
		padding: 5px;
		border: none;
		border-radius: 5px;
	}

	.login div input[type="submit"]:hover
	{
		background-color: black;
		color: white;
	}

	.login input
	{
		width: 100%;
	}

	.login input[type="submit"]
	{
		width: 100px;
	}

	.contentinner
	{
		justify-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em 2em;
		margin-top: 10%;
	}

		.contentinner a
		{
			text-decoration: none;
			color: black;
		}

		#menu:hover
		{
			background-color: black;
			color: white;
		}

		#menu 
		{
			box-sizing: border-box;
			justify-content: center;
			align-items: center;
			display: grid;
			padding: 30px;
			border: 1px solid black;
			width: 80%;
			height: 300px;
			text-align: center;
			margin: auto;
			background-color:rgba(255, 254, 254, 0.685);
		}


.forgot
{
	grid-row-gap: 1em;	
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 60%;
	margin:auto;
	text-align: center;
}

.forgot a
{
	color: white;
}

.error
	{
		color: red;
	}















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
	.return 
	{
		align-items: center;
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		background-color: rgba(0, 0, 0, 0.521);
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px ;
		text-align: center;
		width: 100%;
		margin: 0px 0 15px;
	}

	#wrapper
	{
		margin: auto;
		width: 100%;
		background-color: rgba(77, 77, 77, 0.685);
		padding: 0px;
	}

	.header
	{
		grid-template-columns: 1fr;
		padding-bottom: 30px;
	}

	.header h1
	{
		font-size: 24px;
	}

		#user
		{
			grid-template-columns: 1fr;
			grid-gap: 1em;
		}



		#registration
		{
			grid-template-columns: 1fr;
			text-align: left;
			grid-gap: 0.5em;
			padding: 15px;
		}
		

			#registration label
			{
				font-size: 24px;
			}	

			#registration input
			{
				width: 95%;
			}

		.login
		{
			grid-template-columns: 1fr;
			text-align: left;
			grid-gap: 0.5em;
		}

		.contentinner
		{
			grid-template-columns: 1fr;
			margin-top: 10%;
		}

	.forgot
	{
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	#menu
	{
		height: 100px;
	}
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
	.header
	{
		grid-template-columns: 1fr;
		padding-bottom: 30px;
	}

	.header h1
	{
		font-size: 24px;
	}

		#user
		{
			grid-template-columns: 1fr;
			grid-gap: 1em;
		}

		.dropdown-menu input:checked ~ .menu-content
		{
			margin-left: 8em;
		}


		#registration
		{
			grid-template-columns: 2fr;
			text-align: left;
			grid-gap: 0.5em;
		}

		.login
		{
			grid-template-columns: 1fr;
			text-align: left;
			grid-gap: 0.5em;
		}

		.contentinner
		{
			grid-template-columns: 1fr;
			margin-top: 10%;
		}

	.forgot
	{
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{

	#wrapper
	{
		width: 90%;
	}
	
	.return 
	{
		align-items: center;
		display: grid;
		grid-template-columns: 2fr 2fr 2fr;
		background-color: rgba(0, 0, 0, 0.521);
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px ;
		text-align: center;
		width: 100%;
		margin: 0px 0 50px ;
	}

	.header
	{
		grid-template-columns: 1fr 3fr 1fr;
		grid-gap: 2em;
	}

		#user
		{	
			grid-template-columns: 1fr 1fr;
		}

		.dropdown-menu input:checked ~ .menu-content
		{
			margin-left: 0em;
		}

		#registration
		{
			grid-template-columns: 1fr 2fr 2fr;
			text-align: right;
			grid-gap: 1em;
	
		}

		.login
		{
			grid-template-columns: 1fr 2fr 2fr;
			text-align: right;
			grid-gap: 1em;
		}

		.contentinner
		{
			grid-template-columns: 1fr 1fr;
			margin-top: 10%;
		}

		#menu
		{
			height: 100px;
		}
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
	#wrapper
	{
		width: 60%;
	}
	.header
	{
		grid-template-columns: 1fr 3fr 1fr;
		text-align: center;
		grid-gap: 2em;
	}

		#user
		{
			
			grid-template-columns: 1fr 1fr;
		}

		#registration
		{
			display: grid;
			grid-template-columns: 1fr 2fr 2fr;
			text-align: right;
			grid-gap: 1em;
		}

		.login
		{
			display: grid;
			grid-template-columns: 1fr 2fr 2fr;
			text-align: right;
			grid-gap: 1em;
		}

		.login input
		{
			width: 100%;
		}

		.contentinner
		{
			justify-content: center;
			align-items: center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2em 2em;
			margin-top: 10%;
		}

			#menu
			{
				box-sizing: border-box;
				justify-content: center;
				align-items: center;
				display: grid;
				padding: 30px;
				border: 1px solid black;
				width: 80%;
				height: 100%;
				text-align: center;
				margin: auto;
			}


	.forgot
	{
		grid-row-gap: 1em;	
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 60%;
		margin:auto;
		text-align: center;
	}
}